<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4 ">
      <div class="card shadow">
        <div class="card-body bg-dark">
          <form>
            <div class="mb-3">
              <h4 class="text-light">Forgot password</h4>
            </div>
            <div class="mb-3">
              <label class="form-label">Email </label>
              <input type="email" class="form-control" placeholder="name@example.com"  name="email" [(ngModel)]="email">
            </div>
            <button type="button" class="btn btn-primary" (click)="forgotPassword()">Send Link</button>
            <div class="row">
              <div class="col-md-6 mt-2">
                <a class="text-light" routerLink="/login" style="text-decoration: none" >Back to <span class="fw-bold">Log in!</span></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
