<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4 ">
        <div class="card shadow">
          <div class="card-body bg-dark">
            <form>
              <div class="mb-3">
                <h4 class="text-light">Вхід</h4>
              </div>
              <div class="mb-3">
                <label class="form-label">Email </label>
                <input type="email" class="form-control" placeholder="name@example.com"  name="email" [(ngModel)]="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Password..." name="password" [(ngModel)]="password">
              </div>
              <button type="button" class="btn btn-primary" (click)="login()">Ввійти</button>
              <div class="row">
                <div class="col-md-6 mt-2">
                  <a routerLink="/register" class="text-light" href="" style="text-decoration: none" >Потрібен акаунт? <span class="fw-bold">Зареєструйся!</span></a>
                </div>
                <div class="col-md-6 mt-2">
                  <a routerLink="/forgot-password" class="text-light" style="text-decoration: none" >Забули пароль?</a>
                </div>
              </div>
              <div class="row mt-2">
                <a (click)="signInWithGoogle()" style="text-decoration: none">
                  <div class="card border-0">
                    <div class="card-body card-shadow text-center bg-dark text-light">
                      <img src="https://www.fintechfutures.com/files/2016/03/google.png" alt="" height="24px" width="24px">
                        Ввійти за допомогою Google!
                    </div>
                  </div>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    <div class="col">
    </div>
  </div>
</div>
