<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card list-group-item list-group-item-light shadow-lg">
        <div class="card-body">
          <div class="row ">
            <div class="col-md-4">
              <img src="https://icon-library.com/images/icon-avatar/icon-avatar-6.jpg" class="request-img" alt="avatar">
              <p class="username">{{request.fullName}}</p>
            </div>
            <div class="col-md-7">
              <h2 id="title" >{{request.title}}</h2>
              <p style="font-style: italic">"{{request.request}}."</p>
              <div>
                <i class="fa-solid fa-location-dot"></i> {{request.city}},{{request.country}}.
                <i class="fa-solid fa-house-circle-exclamation"></i> {{request.selectedCategory}}
              </div>
            </div>
            <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
              <a routerLink="/requests/view/{{request.id}}" class="btn btn-warning my-1">
                <i class="fa fa-eye"></i>
              </a>
              <a routerLink="/requests/edit/{{request.id}}" class="btn btn-primary my-1">
                <i class="fa fa-pen"></i>
              </a>
              <button class="btn btn-danger my-1" (click)="deleteRequest()">
                <i class="fa fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
