<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold">Add request</p>
            <p class="fst-italic">Please fill the form to add your request</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="addRequestForm" (ngSubmit)="addRequest()" >
              <div *ngFor="let control of formControls;">
                <div class="mb-2">
                  <input [disabled]="!addRequestForm.valid" class="form-control" placeholder="{{control | titlecase}}" type="text" id="{{control}}"  formControlName="{{control}}" >
                  <small *ngIf="addRequestForm.get(control)?.invalid" class="text-danger">Invalid form value</small>
                </div>
              </div>
                <div class="mb-2">
                    <input [disabled]="!addRequestForm.valid"  class="btn btn-danger" value="Create" type="submit" (click)="addRequest()">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://icon-library.com/images/icon-avatar/icon-avatar-6.jpg" class="request-img" alt="img">
        </div>
    </div>
</div>
