<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold">Add request</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium, adipisci aliquid assumenda commodi consequuntur error excepturi, in, laboriosam
        libero molestiae natus nisi porro quam quis quod repellat tempore! Error, natus.</p>
    </div>
  </div>
</div>
<!--form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input class="form-control" placeholder="Title" type="text" id="title"  name="title" [(ngModel)]="title">
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Name" type="text" id="name" name="name" [(ngModel)]="name">
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Photo Url" type="text">
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Email" type="email" id="email" name="email" [(ngModel)]="email">
        </div>
          <div class="mb-2">
          <input class="form-control" placeholder="Phone" type="number" id="mobile" name="mobile" [(ngModel)]="mobile">
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option> Select a group</option>
          </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" value="Create" type="submit" (click)="addRequest()">
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
    <img src="https://icon-library.com/images/icon-avatar/icon-avatar-6.jpg" class="request-img" alt="img">
      </div>
  </div>
</div>
