<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold">Edit request</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium, adipisci aliquid assumenda commodi consequuntur error excepturi, in, laboriosam
        libero molestiae natus nisi porro quam quis quod repellat tempore! Error, natus.</p>
    </div>
  </div>
</div>
<!--form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form [formGroup]="editRequestForm" (ngSubmit)="editRequest()">
        <div *ngFor="let request of formControls; let i=index">
          <div class="mb-2">
            <input class="form-control" placeholder="{{request | titlecase}}" type="text" id="{{request}}" formControlName="{{request}}" >
          </div>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" value="Update" type="submit" (click)="updateForm()">
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img src="https://icon-library.com/images/icon-avatar/icon-avatar-6.jpg" class="request-img" alt="img">
    </div>
  </div>
</div>
